@{
    ViewBag.Title = "Contact";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/pureknob.js"></script>
<h2> IB0 0-120% rate</h2>
<div id="sample">
    Testing IB0
</div>

<h2> Active Work mode</h2>
<div id="Work_mode">
    Testing DB11.DBB6.0
</div>


<h2> Key position</h2>
<div id="Key_pos">
    position
</div>

<h2> mod comm</h2>
<div id="modbus_val">
    doublr wh
</div>

<div id="knob">

</div>

<div id="knob2">

</div>


<script>
    var refresh_interval = 500;

    //KNOB 2

    // Create knob element, 300 x 300 px in size.
    const knob2 = pureknob.createKnob(100, 100);

    knob2.setProperty('angleStart', -0.75 * Math.PI);
    knob2.setProperty('angleEnd', 0.75 * Math.PI);
    knob2.setProperty('colorFG', '#88ff88');
    knob2.setProperty('trackWidth', 0.4);
    knob2.setProperty('valMin', 0);
    knob2.setProperty('valMax', 120);

    knob2.setValue(50);


    const listener2 = function (knob2, value) {
        console.log(value);
    };

    knob2.addListener(listener2);
    const node2 = knob2.node();
    const elem2 = document.getElementById('knob2');
    elem2.appendChild(node2);

          setInterval(function () {
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("IB0")",
                dataType: "text",
                success: function (msg) {
                    knob2.setValue(msg);

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    }, refresh_interval);


</script>

<script>
    var refresh_interval = 500;

    //KNOB 1
    // Create knob element, 300 x 300 px in size.
    const knob = pureknob.createKnob(100, 100);

    knob.setProperty('angleStart', -0.75 * Math.PI);
    knob.setProperty('angleEnd', 0.75 * Math.PI);
    knob.setProperty('colorFG', '#88ff88');
    knob.setProperty('trackWidth', 0.4);
    knob.setProperty('valMin', 0);
    knob.setProperty('valMax', 120);

    knob.setValue(50);


    const listener = function (knob, value) {
        console.log(value);
    };

    knob.addListener(listener);
    const node = knob.node();
    const elem = document.getElementById('knob');
    elem.appendChild(node);





    setInterval(function () {
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("IB3")",
                dataType: "text",
                success: function (msg) {
                    $('#sample').html(msg);
                    knob.setValue(msg);

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    }, refresh_interval);





     setInterval(function () {
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("Work_mode")",
                dataType: "text",
                success: function (msg) {
                    $('#Work_mode').html(msg);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    }, refresh_interval);

    setInterval(function () {
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("Key_pos")",
                dataType: "text",
                success: function (msg) {
                    $('#Key_pos').html(msg);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    }, refresh_interval);

        setInterval(function () {
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ModbusCommunication")",
                dataType: "text",
                success: function (msg) {
                    $('#modbus_val').html(msg);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    }, refresh_interval);


</script>


